language: python
python:
  - "3.7"
  - "3.8"

dist: bionic

# command to install dependencies, e.g. pip install -r requirements.txt 
install: 
  - pip install .
  - pip install -r requirements.txt
script:  
  - pytest devolearn/tests/test.py
