cycler
decorator
efficientnet-pytorch
future
imageio
imgaug
imutils
joblib
kiwisolver
matplotlib
munch
networkx
numpy
opencv-python
pandas
Pillow
pretrainedmodels
pyparsing
pytest
python-dateutil
pytz
PyWavelets
scikit-image
scikit-learn
scipy
segmentation-models-pytorch==0.1.0
six
sklearn
threadpoolctl
tifffile
timm
torch
torchvision
tqdm
typing-extensions
wget
pytest-cov